.error {
    position: fixed;
    top: 4.5%;
    left: 40%;
    color: red;
}

@media screen and (min-width: 615px) and (max-width: 700px) {
    .error {
        position: static;
        width: 150px;
        margin-left: 20px;
        box-sizing: border-box;
        padding: 2px;
        padding-top: 17px;
        font-size: 15x;
    }
}

@media screen and (max-width: 400px) {
    .error {
        position: fixed;
        width: 150px;
        top: 8%;
        left: 27%;
        padding: 2px;
        padding-top: 17px;
        font-size: 12px;
    }
}

@media screen and (min-width: 400px) and (max-width: 614px) {
    .error {
        position: fixed;
        width: 150px;
        top: 8%;
        left: 27%;
        padding: 2px;
        padding-top: 17px;
        font-size: 12px;
    }
}
