.create-message {
    grid-area: input;
    padding-top: 20px;
}

.input {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 20px;
}

.btn-submit {
    display: block;
    margin: 0 auto;
    font-size: 20px;
}

.btn-nick {
    display: block;
    margin: 0 auto;
    font-size: 20px;
    margin-top: 20px;
}

@media screen and (max-width: 700px) {
    .input {
        font-size: 12px; 
        width: 86%;
    }

    .btn-submit {
        font-size: 14px; 
    }

    .btn-nick {
        font-size: 14px; 
    }
}