.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-areas: 'header header' 'input chat';
  grid-template-rows: 13% 87%;
  grid-template-columns: 38% 62%;
 }

 h1 {
   margin: 0;
   padding: 0;
 }
